################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExceptionHandling/v16
/.vs
/ExceptionHandlingModule/obj/Release/netcoreapp3.1/ExceptionHandlingModule.assets.cache
/ExceptionHandlingModule/obj/Release/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfoInputs.cache
/ExceptionHandlingModule/obj/Release/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfo.cs
/ExceptionHandlingModule/obj/Release/netcoreapp3.1
/ExceptionHandlingModule/obj/project.assets.json
/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.g.targets
/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.g.props
/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.dgspec.json
/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.cache
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.pdb
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.exe
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.dll
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csprojAssemblyReference.cache
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csproj.FileListAbsolute.txt
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csproj.CopyComplete
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.assets.cache
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfoInputs.cache
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfo.cs
/ExceptionHandlingModule/obj/Debug/netcoreapp3.1
/ExceptionHandlingModule/obj
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ParseString.pdb
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ParseString.dll
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.runtimeconfig.json
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.runtimeconfig.dev.json
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.pdb
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.exe
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.dll
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.deps.json
/ExceptionHandlingModule/bin/Debug/netcoreapp3.1
/ParseString/obj/Release/netstandard2.0/ParseString.csprojAssemblyReference.cache
/ParseString/obj/Release/netstandard2.0/ParseString.assets.cache
/ParseString/obj/Release/netstandard2.0/ParseString.AssemblyInfoInputs.cache
/ParseString/obj/Release/netstandard2.0/ParseString.AssemblyInfo.cs
/ParseString/obj/Release/netstandard2.0
/ParseString/obj/project.assets.json
/ParseString/obj/ParseString.csproj.nuget.g.targets
/ParseString/obj/ParseString.csproj.nuget.g.props
/ParseString/obj/ParseString.csproj.nuget.dgspec.json
/ParseString/obj/ParseString.csproj.nuget.cache
/ParseString/obj/Debug/netstandard2.0/ParseString.pdb
/ParseString/obj/Debug/netstandard2.0/ParseString.dll
/ParseString/obj/Debug/netstandard2.0/ParseString.csprojAssemblyReference.cache
/ParseString/obj/Debug/netstandard2.0/ParseString.csproj.FileListAbsolute.txt
/ParseString/obj/Debug/netstandard2.0/ParseString.assets.cache
/ParseString/obj/Debug/netstandard2.0/ParseString.AssemblyInfoInputs.cache
/ParseString/obj/Debug/netstandard2.0/ParseString.AssemblyInfo.cs
/ParseString/obj/Debug/netstandard2.0
/ParseString/obj
/ParseString/bin/Debug/netstandard2.0/ParseString.pdb
/ParseString/bin/Debug/netstandard2.0/ParseString.dll
/ParseString/bin/Debug/netstandard2.0/ParseString.deps.json
/ParseString/bin/Debug/netstandard2.0
